* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.item {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.item:last-child {
  margin-right: 0;
}

.stepNumber {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}

h3 {
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
}

p {
  color: black;
}

.picture {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.picture1 {
  background-image: url(img/flow01.png);
}
.picture2 {
  background-image: url(img/flow02.png);
}
.picture3 {
  background-image: url(img/flow03.png);
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}
